extends layout

block content
  h1 Fonts

  h2.bearfaced Bearfaced
  p.bearfaced I wanted to create a new donationware Charity Font based on the Pudsey Pawprint #bearfaced no-makeup selfie campaign, in aid of the BBC's annual Children in Need 2014 fundraising event held on Friday 14th November. I hope you like it? Please after your download give whatever you can to either the Charity Fonts justgiving page @ https://www.justgiving.com/charityfonts OR donate direct @ http://bit.ly/BBCCiNDonate

  h2.edusong 台湾教育部標準宋體
  p.edusong 本字形檔之著作權係採創用CC 「姓名標示-禁止改作3.0臺灣版」授權 。如需引用，請標示「中華民國教育部」 。
